<div class="container">

	<div class="card indigo">

	  <div class="card-body">
		
		<div class="form">
		    <div class="form-row text-white">
	            <div class="md-form col-md-3">
	            	<i class="fa fa-map-marker prefix"></i>
               		<input type="text" class="form-control" id="from">
               		<label for="from" >From</label>
	            </div>
	            <div class="md-form col-md-3">
	            	<i class="fa fa-map-marker prefix"></i>
	                <input type="text" class="form-control" id="to">
	                <label for="to" >To</label>
	            </div>
	            <div class="md-form col-md-3">
	            	<i class="fa fa-calendar prefix"></i>
	                <input type="text" class="form-control" id="onward_date">
	                <label for="onward_date" >Date</label>
	            </div>
	            
	            <div class="md-form col-md-3">
	            	<button type="button" class="btn btn-warning">Search</button>
	            </div>
	            
		    </div>
		    
		    
		</div>
		
			
	  </div>
	
	</div>
</div>
