<div class="container">
<mat-card class="indigo">
  <form class="example-form w-100 d-inline-flex justify-content-center align-items-center">
    <mat-form-field>
      <input #from class="text-white" matInput>
      <mat-placeholder class="placeholder">From</mat-placeholder>
      <mat-icon class="location-icon" matSuffix>location_on</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input #to class="text-white" matInput>
      <mat-placeholder class="placeholder">To</mat-placeholder>
      <mat-icon class="location-icon" matSuffix>location_on</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input #onwardDate class="text-white" matInput [matDatepicker]="picker">
      <mat-placeholder class="placeholder">Date</mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-button class="btn btn-warning"
      [routerLink]="['/search', from.value, to.value, onwardDate.value]"
      [disabled]="!from.value || !to.value || !onwardDate.value">Search</button>
  </form>
</mat-card>
</div>