<div class="card">
  <div class="view overlay z-depth-1-half">
    <img src="assets/images/{{card.img}}" class="card-img-top" alt="{{ card.from + ' to ' + card.to }}">
    <div class="mask rgba-white-slight"></div>
  </div>

  <div class="card-body">

    <h4 class="card-title">{{ card.to }}</h4>
    
    <p class="card-text grey-text">{{ card.from + ' to ' + card.to }}</p>

    <div class="d-flex justify-content-between align-items-end">
      <h4>
        <span class="badge badge-success price">
          <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{ card.lowestPrice + '+' }}
        </span>
      </h4>
      <a href="#" class="search-button btn btn-primary waves-light"
        [routerLink]="['/search', card.from, card.to, dateString]"
        mdbWavesEffect>Search Buses</a>
    </div>

  </div>
</div>