<main class="mt-5">
    <div class="container">

        
        <!--Section: Popular Destination-->
		<section id="examples" class="text-center">
		
		    <!-- Heading -->
		    <h2 class="mb-5 font-weight-bold">Popular from Hyderabad</h2>
		
		    <!--Grid row-->
		    <div class="row">
		
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-12 mb-4">
					<div class="card">
			            <div class="view overlay z-depth-1-half">
			                <img src="assets/images/vizag.jpg" class="card-img-top" alt="">
			                <div class="mask rgba-white-slight"></div>
			            </div>
			
			            <h4 class="my-4 font-weight-bold">Vizag</h4>
			            <p class="grey-text">Hyerabad to Vizag</p>
		                <div class="row">
				            <div class="col-md-4">
				            	<h4><span class="badge badge-success"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;1200+</span></h4>
				            </div>
				            <div class="col-md-8">
				            	<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Search Buses</a>
				            </div>
		               </div> 
					</div>
		        </div>
		        <!--Grid column-->
		
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-12 mb-4">
					<div class="card">
			            <div class="view overlay z-depth-1-half">
			                <img src="assets/images/hyderabad.jpg" class="card-img-top" alt="">
			                <div class="mask rgba-white-slight"></div>
			            </div>
			
			            <h4 class="my-4 font-weight-bold">Hyderabad</h4>
			            <p class="grey-text">Hyderabad to Hyderabad</p>
			            <div class="row">
				            <div class="col-md-4">
				            	<h4><span class="badge badge-success"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;800+</span></h4>
				            </div>
				            <div class="col-md-8">
				            	<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Search Buses</a>
				            </div>
		               </div> 
					</div>
		        </div>
		        <!--Grid column-->
		
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-6 mb-4">
					<div class="card">
			            <div class="view overlay z-depth-1-half">
			                <img src="assets/images/banglore.jpg" class="card-img-top" alt="">
			                <div class="mask rgba-white-slight"></div>
			            </div>
			
			            <h4 class="my-4 font-weight-bold">Banglore</h4>
			            <p class="grey-text">Hyderabd to Banglore</p>
		                <div class="row">
				            <div class="col-md-4">
				            	<h4><span class="badge badge-success"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;1000+</span></h4>
				            </div>
				            <div class="col-md-8">
				            	<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Search Buses</a>
				            </div>
		               </div> 
					</div>
		        </div>
		        <!--Grid column-->
		
		    </div>
		    <!--Grid row-->
		
		</section>
		<!--Section: Popular Destinations-->
		
		<hr class="my-5">
        
        <!--Section: Best Features-->
		<section id="best-features" class="text-center">
		
		    <!-- Heading -->
		    <h2 class="mb-5">Best Features</h2>
		
		    <!--Grid row-->
		    <div class="row">
		
		        <!--Grid column-->
		        <div class="col-md-4 mb-1">
		            <i class="fa fa-map-marker fa-4x red-text"></i>
		            <h4 class="my-4">Live Tracking</h4>
		            <p>Let your friends and family track your journey in real time using LiveTrack on <b>pryanam</b>.
		            Invite your friends and family via email or Facebook. 
		            They will receive a link to a webpage that includes the position of your phone or connected device.</p>
		        </div>
		        <!--Grid column-->
		
		        <!--Grid column-->
		        <div class="col-md-4 mb-1">
		            <i class="fa fa-eye-slash fa-4x cyan-text"></i>
		            <h4 class="my-4">Virtual Tour</h4>
		            <p>Take a virtual tour of the bus you want to travel. Get the feeling of how your travel is going to be before you even book.</p>
		        </div>
		        <!--Grid column-->
		        
		        <!--Grid column-->
		        <div class="col-md-4 mb-1">
		            <i class="fa fa-comments-o fa-4x orange-text"></i>
		            <h4 class="my-4">Support</h4>
		            <p>100% Customer satisfaction and always try to offer lowest price with better options.</p>
		        </div>
		        <!--Grid column-->
		
		    </div>
		    <!--Grid row-->
		
		  </section>
		  <!--Section: Best Features-->

        <hr class="my-5">


        <!--Section: Contact-->
        <section id="contact">
			
			<!-- Heading -->
		    <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>
		
		    <!--Grid row-->
		    <div class="row">
		
			    <!--Grid column-->
				<div class="col-lg-5 col-md-12">
				  <!-- Form contact -->
				  <form class="p-5">
				    <div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
				      <input type="text" id="form3" class="form-control form-control-sm">
				      <label for="form3">Your name</label>
				    </div>
				    <div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
				      <input type="text" id="form2" class="form-control form-control-sm">
				      <label for="form2">Your email</label>
				    </div>
				    <div class="md-form form-sm"> <i class="fa fa-tag prefix grey-text"></i>
				      <input type="text" id="form32" class="form-control form-control-sm">
				      <label for="form34">Subject</label>
				    </div>
				    <div class="md-form form-sm"> <i class="fa fa-pencil prefix grey-text"></i>
				      <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
				      <label for="form8">Your message</label>
				    </div>
				    <div class="text-center mt-4">
				      <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
				    </div>
				  </form>
				  <!-- Form contact -->
				</div>
				<!--Grid column-->
			
		
		    </div>
		    <!--Grid row-->


        </section>
        <!--Section: Contact-->

    </div>
</main>