<section id="best-features" class="text-center">

  <h2 class="mb-5">Best Features</h2>

  <div class="row">
    <div class="col-md-4 mb-1">
      <i class="fa fa-map-marker fa-4x red-text"></i>
      <h4 class="my-4">Live Tracking</h4>
      <p>Let your friends and family track your journey in real time using LiveTrack on
        <b>pryanam</b>. Invite your friends and family via email or Facebook. They will receive a link to a webpage that includes
        the position of your phone or connected device.</p>
    </div>
    <div class="col-md-4 mb-1">
      <i class="fa fa-eye-slash fa-4x cyan-text"></i>
      <h4 class="my-4">Virtual Tour</h4>
      <p>Take a virtual tour of the bus you want to travel. Get the feeling of how your travel is going to be before you even
        book.</p>
    </div>
    <div class="col-md-4 mb-1">
      <i class="fa fa-comments-o fa-4x orange-text"></i>
      <h4 class="my-4">Support</h4>
      <p>100% Customer satisfaction and always try to offer lowest price with better options.</p>
    </div>
  </div>
</section>